.idea/
.vscode/
*.iml

target/
**/target/

node_modules/
**/node_modules/
dist/
**/dist/
docs/
tmp/

*.log
.env
.env.*

*.txt

技术亮点.txt
疑问.txt

application-local.properties
application-local.yml
wms/src/main/resources/application.properties
