<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.RecordMapper">
<select id="pageCC" resultType="com.wms.dto.RecordRequest">
    select r.*, g.name goodsName, s.name storageName, gt.name goodstypeName,
        (select u.name from p_user u
        where r.userId = u.id) userName,
        (select u.name from p_user u
        where r.adminId = u.id) adminName
    from record r,goods g,storage s,goodstype gt
   /* where r.goods = g.id
      and g.storage = s.id
      and g.goodstype = gt.id*/
    ${ew.customSqlSegment}
</select>
</mapper>
